<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Videoflow</title>
</head>
<body>
<footer class="container">
    <div th:fragment="footer">
        <footer class="container">
            <a href="mailto:support@video.flow.com">support@video.flow.com</a>
            <span>@videoflow</span>
        </footer>
    </div>
</footer>
</body>
</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer th:fragment="footer" class="footer">
    <div class="container">
        <div class="footer-content">
            <a href="mailto:support@video.flow.com" class="support-link">support@video.flow.com</a>
            <span class="social-handle">@videoflow</span>
        </div>
    </div>
</footer>
</body>
</html>