<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <title>Videoflow</title>
</head>
<body>

  <div th:fragment="navbar">
    <header>
      <div class="container">
        <div class="header-content">
          <a href="#" class="logo">VideoFlow</a>
          <input type="text" class="search-bar" placeholder="Search">
          <div class="nav-buttons">
            <a href="#" class="login-btn">Log in</a>
            <a href="#" class="signup-btn">Sign in</a>
            <a href="#" class="videos-btn">Videos</a>
          </div>
        </div>
      </div>
    </header>
  </div>


</body>
</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<nav th:fragment="navbar" class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">VideoFlow</a>
    <input type="text" class="navbar-search" placeholder="Search">

    <div class="navbar-links">
      <a th:href="@{/}" class="nav-btn">Videos</a>
      <a th:href="@{/log}" class="nav-btn">Log in</a>
      <a th:href="@{/reg}" class="nav-btn nav-btn-primary">Sign in</a>
    </div>
  </div>
</nav>
</body>
</html>
