<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoFlow</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<header>
    <div th:replace="~{fractions/navbar :: navbar}"></div>
</header>
<main class="container">
        <div th:if="${session.loggedInUser}" class="welcome-msg">
            <h2 th:text="'Welcome, ' + ${session.loggedInUser.felhasznalonev} + '!'"></h2>
        </div>
    <section>
        <br><br>

        <div th:if="${session.loggedInUser}">
            <h2>Recommended Videos for You</h2>
            <br><br>
            <div class="top-liked-video-grid">
                <div class="video-card" th:each="video : ${ajanlottVideok}">
                    <a th:href="@{'/videos/' + ${video.videoid}}">
                        <div class="thumbnail-container" th:if="${video.filePath != null}">
                            <video class="thumbnail" controls
                                   th:src="@{'/uploads/' + ${#strings.substring(video.filePath, video.filePath.lastIndexOf('/') + 1)} }">
                            </video>
                        </div>
                        <div class="video-info">
                            <h3 class="video-title" th:text="${video.videocim}">Videó címe</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <h2>Most liked videos  <a href="/top-categories">
            <button>📊</button>
        </a> </h2>
        <br><br>
        <div class="top-liked-video-grid">
            <div class="video-card" th:each="video : ${topLikedVideos}">
                <a th:href="@{'/videos/' + ${video.videoid}}">
                    <div class="thumbnail-container" th:if="${video.filePath != null}">
                        <video class="thumbnail" controls
                               th:src="@{'/uploads/' + ${#strings.substring(video.filePath, video.filePath.lastIndexOf('/') + 1)} }">
                        </video>
                    </div>
                    <div class="video-info">
                        <h3 class="video-title" th:text="${video.videocim}">Video title</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <h2>Videos</h2>
        <div class="video-grid">
            <div class="video-card" th:each="video : ${videos}">
                <a th:href="@{'/videos/' + ${video.videoid}}">
                    <div class="thumbnail-container" th:if="${video.filePath != null}">
                        <video class="thumbnail" controls
                               th:src="@{'/uploads/' + ${#strings.substring(video.filePath, video.filePath.lastIndexOf('/') + 1)} }">
                        </video>
                    </div>
                    <div class="video-info">
                        <h3 class="video-title" th:text="${video.videocim}">Video title</h3>
                    </div>
                </a>
            </div>
        </div>

    <div class="highlight-box">
        <p><strong>Most active uploader:</strong> <span th:text="${topUploaderName}">Someone</span></p>
        <p><strong>Most active commenter:</strong> <span th:text="${topCommenterName}">Someone</span></p>
        <p><strong>Most active commenter:</strong> <span th:text="${topViewerName}">Someone</span></p>
        <p><strong>Most likes given:</strong> <span th:text="${topLikerName}">Someone</span></p>
    </div>

</main>
<div th:replace="~{fractions/footer :: footer}"></div>
</body>
</html>