<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<header>
    <div th:replace="~{fractions/navbar :: navbar}"></div>
</header>

<main>
    <div class="profile-container">
        <div class="profile-avatar">
            <img src="/images/user_profile.webp" alt="User avatar">

        </div>

        <div class="username">
            <h1 th:text="${username}"></h1>
        </div>

        <div class="profile-actions">
            <a class="action-btn" th:href="@{/playlist}">
                <img src="/images/playlists.jpg" alt="Playlists">
            </a>
            <a class="action-btn" th:href="@{/profile/update}">
                <img src="/images/edit.png" alt="Edit profile">
            </a>
            <a class="action-btn" th:href="@{/profile}">
                <img src="/images/details.svg" alt="details">
            </a>
            <a class="action-btn" th:href="@{/upload}" th:if="${role == 'content_creator' or role == 'admin' or role == 'superadmin'}">
                <img src="/images/upload.png" alt="Upload video">
            </a>
        </div>


        <form th:action="@{/profile/update}" method="post" th:object="${profile}">
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="input" type="text" th:field="*{firstName}" id="firstName" placeholder="Jane" />
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="input" type="text" th:field="*{lastName}" id="lastName" placeholder="Smitherson" />
                </div>
            </div>

            <div class="form-group full-width">
                <label for="email">Email Address</label>
                <input class="input" type="email" th:field="*{email}" id="email" placeholder="email@genericdomain.net" />
            </div>

            <button type="submit">Save changes</button>
        </form>
    </div>
</main>
<div th:replace="~{fractions/footer :: footer}"></div>
</body>
</html>
