<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Legkedveltebb kategóriák</title>
</head>
<body>
<h1>Legnézetebb kategóriák</h1>
<ul>
    <li th:each="category : ${topCategoriesByViews}">
        <span th:text="${category[0]}">Kategória</span> -
        <span th:text="${category[1]}">Megtekintések</span>
    </li>
</ul>
<h1>Legkedveltebb kategóriák </h1>
<ul>
    <li th:each="category : ${topCategoriesByLikes}">
        <span th:text="${category[0]}">Kategória</span> -
        <span th:text="${category[1]}">Kedvelések</span>
    </li>
</ul>
<a href="/" class="btn">Home</a>
</body>
</html>