<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VideoFlow - Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<header>
    <div th:replace="~{fractions/navbar :: navbar}"></div>
</header>

<main>
    <div class="profile-container">
        <div class="profile-avatar">
            <img th:src="@{/images/user_profile.webp}" alt="User avatar">
        </div>

        <div class="username">
            <h1 th:text="${profile.firstName}">Név helye</h1>
        </div>

        <!--  Itt az űrlap a módosításhoz -->
        <form th:action="@{/profile/update}" method="post" th:object="${profile}">
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="input" type="text" id="firstName" th:field="*{firstName}" placeholder="First Name"
                           required>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="input" type="text" id="lastName" th:field="*{lastName}" placeholder="Last Name"
                           required>
                </div>
            </div>

            <div class="form-group full-width">
                <label for="email">Email</label>
                <input class="input" type="email" id="email" th:field="*{email}" placeholder="Email" required>
            </div>

            <button type="submit">Mentés</button>
        </form>
    </div>
</main>

<footer>
    <div th:replace="~{fractions/footer :: footer}"></div>
</footer>
</body>
</html>