* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #a7c7e7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 20px 0 20px 0;

}

footer a {
    color: #000;
    text-decoration: underline;
}

@media (max-width: 576px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}