/* General reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
    flex-direction: column;
    text-align: left;
}
.label{
    margin: 10px 0 10px 0;

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input {

    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e0eeff;
}
.login_btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login_btn:hover {
    background-color: #333;
}




/* Responsive adjustments */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }
}

